{% load staticfiles %}
<html>
  <head>
    <link href="{% static 'bootstrap-3.0.0-wip/dist/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
   
    <link href="{% static 'test.css' %}"
          rel="stylesheet" media="screen">
    <script src="{% static 'bootstrap-3.0.0-wip/dist/js/bootstrap.min.js' %}"></script>
  </head>


<body>
<nav>
  <h1> Ghostbook</h1>
</nav>
<form role="form" action="/calendarsms/verschickt/" method="post">
{% csrf_token %}
<fieldset>


<h2>Gerne nehmen wir mit dir Kontakt auf</h2>
<br>
<br>

<div class="col-lg-6 form-group article">

	<label  class="control-label">Datum des Termines</label>
	<div class="controls">
	<input type="date"  class="btn btn-a input-sm"  name="datum">
	</div>
	
	</br>
	<label>Uhrzeit</label></br>
	<select name="hour" class="btn btn-a">
	<option value="1">1
	<option value="2">2
	<option value="3">3
	<option value="4">4
	<option value="5">5
	<option value="6">6
	<option value="7">7
	<option value="8">8
	<option value="9">9
	<option value="10">10
	<option value="11">11
	<option value="12">12
	<option value="13">13
	<option value="14">14
	<option value="15">15
	<option value="16">16
	<option value="17">17
	<option value="18">18
	<option value="19">19
	<option value="20">20
	<option value="21">21
	<option value="22">22
	<option value="23">23
	</select>
	:
	<select name="min" class="btn btn-a">
	<option value="00">00
	<option value="1">01
	<option value="2">02
	<option value="3">03
	<option value="4">04
	<option value="5">05
	<option value="6">06
	<option value="7">07
	<option value="8">08
	<option value="9">09
	<option value="10">10
	<option value="11">11
	<option value="12">12
	<option value="13">13
	<option value="14">14
	<option value="15">15
	<option value="16">16
	<option value="17">17
	<option value="18">18
	<option value="19">19
	<option value="20">20
	<option value="21">21
	<option value="22">22
	<option value="23">23
	<option value="24">24
	<option value="25">25
	<option value="26">26
	<option value="27">27
	<option value="28">28
	<option value="29">29
	<option value="30">30
	<option value="31">31
	<option value="32">32
	<option value="33">33
	<option value="34">34
	<option value="35">35
	<option value="36">36
	<option value="37">37
	<option value="38">38
	<option value="39">39
	<option value="40">40
	<option value="41">41
	<option value="42">42
	<option value="43">43
	<option value="44">44
	<option value="45">45
	<option value="46">46
	<option value="47">47
	<option value="48">48
	<option value="49">49
	<option value="50">50
	<option value="51">51
	<option value="52">52
	<option value="53">53
	<option value="54">54
	<option value="55">55
	<option value="56">56
	<option value="57">57
	<option value="58">58
	<option value="59">59
	</select>
	<br>

  <br>
  <div class="input-group">
  <span class="input-group-addon">Absender  :</span>
  <input type="text" class="form-control" name="name" placeholder="Dein Name?">
  </div>
  <br>

  <div class="input-group">
  <span class="input-group-addon"> Telefon-Nr:</span>
  <input type="number" class="form-control" name="number" placeholder="Deine Telefonnummer?">
  </div>
    
 </br>
    <label>Text</label>
    <input type="text" class="form-control" name="text" placeholder="Hier kommt dein Text rein.">
    </br>
    <button type="submit" class="btn btn-success">Versenden</button>

 </div>

</fieldset>

</form>
<footer>
<br>
<br>
<p>--------------------</p>
<p><a href="/">Startseite</a> {% if user.is_authenticated %}<a href="/accounts/logout/">Abmelden</a>{% else %}<a href="/accounts/login/">Anmelden</a> <a href="/accounts/register/">Registrieren</a>{% endif %}</p>
<p>&copy; Codebusters</p>
</footer>


</body>

</html>
