
h1{color: #FFFFFF;
  font-size: 50px;
  font-weight: bold;
  margin-left: 15px;}



h2 {
  font-size: 25px;
  margin-left: 15px;
}

p {margin-left: 15px;
}

h3 {
  font-size: 10px;
}


nav{ 
  padding-top: 5px;
  background-color: #3B5998; /* background color will be black for all browsers */
}

ul.boo {                      
   list-style-image: url('img/Boo-icon.png');
   padding: 30px;
   margin-left: 40px;
   ul.boo:hover { list-style-image: url('img/Boo-icon_b.png');
   padding: 30px;
   margin-left: 40px;
   }
  }

input.save{
background-color: #FF9999 ;}

button.sure{
background-color: #FF9999 ;
button.a:hover { background-color: #CC7A7A}
}

button.a {
background-color: #99CCFF ;
font-weight: bold;
button.a:hover { background-color: #6699CC}
}

button.add{
background-color: #33CC66 ;
font-weight: bold;
margin-left: 15px;}
button.add:hover { background-color: #2EB85C}
}

button.x{
background-color: #99CCFF ;
font-weight: bold;
button.x:hover { background-color: #6699CC}
}

body{background-color: #F7F7F6;
     }

article{
line-height: 50px;
margin-left: 15px;
}

.box{line-height: 25px;
}



